.Home {
  text-align: center;
  padding: 20px;
  color: white;
  font-size: x-large;
  position: relative;
  font-family: 'Inter', sans-serif;
}

.bicycle-path {
  margin: 20px auto;
  display: block;
}

.fixed-image {
  width: 300px; /* Adjust size as needed */
  position: absolute; /* Position the image as desired */
  top: 280px; /* Adjust top position */
  left: 70%; /* Center the image horizontally */
  transform: translateX(-50%); /* Center correction */
  border-radius: 20px;
}


