.DestinationCard {
  width: 250px;
  display: inline-block;
  text-align: left;
  background-image: linear-gradient(90deg, lavender, white);
  margin-left: 30px;
  margin-top: 10px;
  padding: 3px;
  border: 1px solid;
  border-radius: 5px;

  box-sizing: border-box;
  vertical-align: top;
}

.DestinationCard img {
  width: auto;
  height: 110px;
  max-height: 80%;
  border: 2px solid;
  border-radius: 10px;
  vertical-align: middle;
  margin-bottom: 8px;
}

.DestinationCard > div:first-child {
  display: flex;
  flex-direction: column;
}

.DestinationCard > div:last-child {
  margin-left: auto;
}

.information {
  text-align: center;
  font-size: small;
  padding: 3px;
  font-family: Cambria;
}

.information div {
  margin-bottom: 1px; /* Add this to create space between different elements in the information section */
}

.information .destination-name {
  font-size: 1.2em; /* Increase the font size for the destination name */
  font-weight: bold; /* Make it bold for emphasis */
  margin-bottom: 3px; /* Add some space below the destination name */
}
.dates {
  padding: 0.1px; /* Adjust the values to control the margin */
}

.destinationDescription {
  height: 90px;
}

.information .Button {
  padding: 1px 2px 1px 2px;
  margin: 2px 5px 2px 5px;
  border-radius: 0.5rem;
  font-size: 0.875rem;
  line-height: 1rem;
  font-weight: 500;
  color: #ffffff;
  text-decoration: none;
  background-color: #1d4ed8;
}

.Cursor {
  cursor: pointer;
}
