.Menu {
  display: flex;
  flex-direction: column;
  padding-top: 70px;
  gap: 30px;
  color: #1a17b0;
  font-size: x-large;
  font-family: 'Inter', sans-serif;
}

.Menu .active {
  color: white;
  font-weight: bold;
  font-family: 'Courier New', Courier, monospace;
  font-family: 'Inter', sans-serif;
}
