.DestinationDetails img {
  width: 35%;
  height: 190px;
  border: 1px solid;
  border-radius: 10px;
  max-height: 80%;
  border: 2px solid #ddd;
  border-radius: 10px;
  display: block;
  margin: 0 auto 0.1px auto;
}